<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
 
    <p>Welcome  <%= data.username %></p>
    <p>Your password is  <%= data.password %></p>
  </body>
</html>